h1 {
    border: 6px #eee solid;
    color: black;
    text-align: center;
    padding: 10px;
}
.post_title{
    color: blue;
    padding: 10px;
    
}
.post_div{
border: 2px #eee solid;
text-align: center;

}
